html {
  scroll-behavior: smooth;
}

.container {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 10;
  grid-gap: 3vh;
  background: #4F3D63;
  font-family: "optima";
}

body {
  background: #4F3D63;
}

header {
  background-image: url("images/lovesymbol.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding-bottom: 100vh;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.4);
}

#section-a {
  background: url("images/png/discography.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 50%;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
}

#section-b {
  background: url("images/png/performer.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50%;
}

#section-c {
  background: url("images/png/joker.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 50%;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
}
#section-c ul {
  list-style: none;
  text-align: left;
}
#section-c a {
  color: #ffffff;
  font-size: 1em;
}
#section-c a:hover {
  color: #000000;
}

#section-d {
  background: url("images/png/lotusflow3r.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 50%;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
  text-align: center;
}
#section-d .link {
  color: #ffffff;
  font-size: 1em;
  position: relative;
  top: 20vh;
}
#section-d .link:hover {
  color: #000000;
}

#section-e {
  background: url("images/png/interview.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding-bottom: 50%;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
}

#section-f {
  background: url("images/png/magazines.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding-bottom: 50%;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
}
#section-f p {
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  margin-top: 2em;
}

#section-g {
  background: url("images/png/paisleypark.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding-bottom: 50%;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
  padding-bottom: 60%;
}

#section-h {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 50%;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
  padding-bottom: 0;
}

.gifs {
  display: flex;
  flex-wrap: wrap;
}

.gif {
  height: 10rem;
  margin: 1rem;
  border: 1px solid #C0C0C0;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 1rem;
  color: #ffffff;
}
h2 a {
  color: #ffffff;
  text-decoration: none;
}

p {
  margin: 5rem 1rem 0 1rem;
  font-size: 1em;
  color: #ffffff;
}

small a {
  font-family: optima;
  text-transform: lowercase;
  font-weight: 1;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  margin-left: 1em;
}
small a:hover {
  color: rgba(0, 0, 0, 0.5);
}

#section-d small a {
  top: 70px;
}

#section-h small a {
  top: 15vh;
}

/*------------------ FOOTER, obviously :P ------------------*/
footer {
  margin: 1rem;
}
footer p {
  margin-bottom: 1rem;
  margin-top: 0;
}
footer a {
  color: #ffffff;
  font-weight: bold;
}
footer a:hover {
  color: #000000;
}
footer .logo {
  margin-left: 1rem;
}

.back-top {
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  font-size: 0.8em;
}
.back-top:hover {
  color: #000000;
}

.socialicons {
  margin-bottom: 0.5em;
}

/*# sourceMappingURL=styles.css.map */
