.footer {
  min-height: 2.5vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.75rem;
  background-color: #f5f5f5;
  border-top: 1px solid rgba(200, 200, 200, 0.7);
  padding-right: 1.5vw;
}
